.card-category {
  background-size: cover;
  background-position: center;
  height: 305px;
  color: white;
  border-radius: 10px;
  padding-top: 20px;
}

.flat-card {
  color: white;
  text-decoration: none;
  p {
    color: black;
  }
  h5 {
    color: black;
  }
  a {
    text-decoration: none;
  }
}

.flat-info {
  margin-top: 15px;
}


.wrapper {
  position: relative;
}

.ma-li {
  width: auto;
}

.favorite-link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.heart {
  height: 28px;
  color: white;
  // fill: ;
}

.rating {
  display: flex;
  justify-content: space-between;
}


.default-image {
  height: 600px;
  width: 400px;
  object-fit: cover;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
  list-style-type: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
